@import "tailwindcss";


body {
  background-image: url('https://4kwallpapers.com/images/walls/thumbs_3t/7893.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}